._hello-world {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .container {
    user-select: none;
    text-align: center;

    > .logo {
      animation: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    > .text {
      margin-top: 50px;
      color: #000;

      > .title {
        color: #48a9e2;
      }

      > .description {
        color: #666;
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -30px);
  }

  100% {
    transform: translate(0, 0);
  }
}